.j3-canvas {
  -fx-background-color: white;
}

.j3-axis-side {
  -fx-fill: transparent;
  -fx-stroke: black;
  -fx-stroke-width: 3;
}

.j3-tick-line {
  -fx-stroke: gray;
  -fx-stroke-width: 1;
}

.j3-axis-label {
  -fx-font-weight: bold;
  -fx-font-size: 16;
}

.j3-tick-label {

}

.j3-internal-tick-label-line {
  visibility: hidden;
}

.j3-internal-axis-label-line {
  visibility: hidden;
}

.j3-selection-rect {
  -fx-fill: transparent;
  -fx-stroke: black;
  -fx-stroke-width: 1;
  -fx-stroke-dash-array: 4 4;
  -fx-stroke-line-cap: butt;
}

.j3-colorbar {
  -fx-border-width: 2;
  -fx-border-color: black;
  -fx-border-insets: -2 -2 -2 -2;
}

.j3-parallel-line {
  -fx-stroke-width: 4;
}

.j3-parallel-label {

}

.j3-parallel-tick-line {
  -fx-stroke-width: 2;
}

.j3-parallel-tick-label {
  
}

.j3-titled-widget{
  -fx-background-radius: 5;
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-radius: 5;
  -fx-border-width: 2;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.9), 5, 0.0, 0, 1);
}